/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

//styles for the recreation front page slideshow
.recreation-page-main-slideshow #flexslider-1 {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.view-rec-announcements {
    font-family: $muli;
    background-color: transparentize($wwuOceanBlue, .9);
    border: 2px solid $wwuOceanBlue;
    border-radius: 10px;
		padding: 2%;
		margin-bottom: 2%;

		a {
			color: $wwuBlue;
		}
	}
